html
  head
    title="Redux Funsies"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    #root!=stuff
    script.
      window.__INITIAL_STATE__ = !{ JSON.stringify(initialState) }
    script(src='../../webpack/bundle.js')